{% extends 'base.html' %} {% block content %}
<!-- BLOG DETAIL -->
<section class="project-detail section-padding-half">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-9 mx-auto col-md-10 col-12 mt-lg-5 text-center"
        data-aos="fade-up"
      >
        <h4 class="blog-category text-info">Personal</h4>

        <h1>Some facts about me</h1>

        <div class="client-info">
          <div class="d-flex justify-content-center align-items-center mt-3">
            <img
              src="static/images/project/project-detail/male-avatar.png"
              class="img-fluid"
              alt="male avatar"
            />

            <p>Sweet Candy</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- BLOG DETAIL -->
<section class="project-detail">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-9 mx-auto col-md-11 col-12 my-5 pt-3"
        data-aos="fade-up"
      >
        <h2 class="mb-3">
          Vorona Aleksandr, currently studiying at MADI, pretty good at
          programming and math, love to learn new stuff
        </h2>

        <p>
          Transfered form BMSTU a year ago, working in IT, interested in mashine
          learning, big data but too lazy to study this subjects. Something else
          about me:
        </p>

        <ul class="list-detail py-3">
          <li>
            <span>Software developer</span>
          </li>

          <li>
            <span>Gamer</span>
          </li>

          <li>
            <span>Weeb</span>
          </li>
        </ul>

    <div class="col-lg-8 mx-auto mb-5 pb-5 col-12" data-aos="fade-up">
      <h3 class="my-3" data-aos="fade-up">Leave a comment</h3>

      <form
        action="comment"
        method="post"
        class="contact-form"
        data-aos="fade-up"
        data-aos-delay="300"
        role="form"
      >
        <input type="hidden" name="page" value="blog_detail">

        <div class="row">
          <div class="col-lg-6 col-12">
            <input
              type="text"
              class="form-control"
              name="name"
              placeholder="Name"
            />
          </div>

          <div class="col-lg-6 col-12">
            <input
              type="email"
              class="form-control"
              name="email"
              placeholder="Email"
            />
          </div>

          <div class="col-lg-12 col-12">
            <textarea
              class="form-control"
              rows="6"
              name="message"
              placeholder="Message"
            ></textarea>
          </div>

          <div class="col-lg-5 mx-auto col-7">
            <button
              type="submit"
              class="form-control"
              id="submit-button"
              name="submit"
            >
              Submit Comment
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock %}
