{% extends 'base.html' %} {% block content %}
<!-- CONTACT -->
<section class="contact section-padding">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-6 mx-auto col-md-7 col-12 py-5 mt-5 text-center"
        data-aos="fade-up"
      >
        <h1 class="mb-4">
          Hey there, Let's <strong>talk</strong> about
          <strong>shitty</strong> projects
        </h1>

        <p>
          or email us at
          <a href="madiprojvorona@gmail.com">madiprojvorona@gmail.com</a>
        </p>
      </div>

      <div class="col-lg-8 mx-auto col-md-10 col-12">
        <form
          action="/send-mail"
          method="post"
          class="contact-form"
          data-aos="fade-up"
          data-aos-delay="300"
          role="form"
        >
          <div class="row">
            <div class="col-lg-6 col-12">
              <input
                type="text"
                class="form-control"
                name="name"
                placeholder="Name"
              />
            </div>

            <div class="col-lg-6 col-12">
              <input
                type="email"
                class="form-control"
                name="email"
                placeholder="Email"
              />
            </div>

            <div class="col-lg-12 col-12">
              <textarea
                class="form-control"
                rows="6"
                name="message"
                placeholder="Message"
              ></textarea>
            </div>

            <div class="col-lg-5 mx-auto col-7">
              <button
                type="submit"
                class="form-control"
                id="submit-button"
                name="submit"
              >
                Send Message
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<!-- How to change your own map point
	1. Go to Google Maps
	2. Click on your location point
	3. Click "Share" and choose "Embed map" tab
	4. Copy only URL and paste it within the src="" field below
-->
<div class="google-map" data-aos="zoom-in">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2242.488048721481!2d37.52731461597534!3d55.80212709565402!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b549c87a6cf4c9%3A0xd3e3d487830745c3!2sMoskovskiy%20Avtomobil&#39;no-Dorozhnyy%20Gosudarstvennyy%20Tekhnicheskiy%20Universitet!5e0!3m2!1sen!2sru!4v1641822468819!5m2!1sen!2sru"
    width="1920"
    height="600"
    frameborder="0"
    style="border: 0"
    allowfullscreen=""
  ></iframe>
</div>
{% endblock %}
